{% extends 'base.html' %}
{% block content %}
    <h1>
    Автобус: {{ route_number }}
</h1>
<h5 style="text-align: center">
    Направление: {{ direction }}
</h5>
<form method="POST" id="RouteForm">
  {% csrf_token %}
  <select class="form-select" aria-label="Default select example" id="mySelect1" name="selectedOption1">
    <option selected>Выберите остановку</option>
    {% for stop_id, stop_name in stops %}
    <option value="{{ stop_id }}">{{ stop_name }}</option>
    {% endfor %}
  </select>
  <button type="submit" class="btn btn-outline-primary btn-lg" id="myButton">Получить расписание</button>
</form>
{% endblock %}